# engineering tests
eng_*

# images and csvs
*/png_files/*
*.png
*/csv_files/*
*.csv
examples/catchment_models/neuralhydrology/runs/*
examples/catchment_models/neuralhydrology/*.out
examples/catchment_models/lstm_training/runs/*



# code in development
dev/

# others
.DS_Store